# Node.js
node_modules/
npm-debug.log*
.env
.env.local

# Uploads (Imagens salvas localmente no backend)
backend/public/images/pets/*
!backend/public/images/pets/.gitkeep
backend/public/images/users/*
!backend/public/images/users/.gitkeep

# Build/Dist
dist/
build/

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db